.front-page {

}
.front-page .jumbotron {
    margin: 0;
    padding: 0;
    min-height: 500px;
    background-image: url();
    background-size: cover;
}
.front-page .jumbotron .black_highlight {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
}
.front-page .jumbotron .black_highlight h1 {
    font-size: 36px;
}
.front-page .frontcontent {

}
.front-page .frontcontent p {
    font-size: 18px;
}
.front-page .videoRow {
    padding: 20px;
}
.front-page .bigVideo, .front-page .smallVideo {
    border: gainsboro 2px solid;
}
.front-page .bigvideomobile {
    display: block;
    margin: auto
}
.front-page .bigVideo {
    width: 60vw;
    height: 30vw;
}
.front-page .smallVideo {
    width: 30vw;
    height: 14vw;
}
.front-page .row {
    margin: 0;
}
.colorize {
    background-color: gray;
    padding: 0;
}
.front-page hr {
    color: black;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.front-page h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}